.details-container {
    font-family: 'Patrick Hand', cursive;
}

.details-container p {
    font-size: 32px;
}

h2 {
    font-size: 52px;
}

.download-container {
    margin: 50px;
}

.download-container h3 {
    font-size: 32px;
}

.download-container button {
    font-size: 32px;
    background-color: #242424;
    border: white solid 1px;
    border-radius: 12px;
    padding: 8px 18px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 20px;
    transition: box-shadow 0.1s, background-color 0.2s, color 0.3s;
}

.download-container button:hover {
    background-color: #454545;
    box-shadow: 0 0 9px white;
    color: #a9a9a9;
}